<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.media5.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/activity_name_main">
            <intent-filter
                android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".i.IsActivity"
            android:label="@string/activity_name_i" />
        <activity
            android:name=".k.KsActivity"
            android:label="@string/activity_name_k" />
        <activity
            android:name=".y.YsActivity"
            android:label="@string/activity_name_y" />
    </application>

</manifest>
